
.sub-badge {
    font-size: 14px;
    font-weight: bold;

    width: 28px;
    line-height: 28px;

    border-radius: 50%;
    text-align: center;
    border: solid black 2px;

    cursor: pointer;
}

.sub-badge:hover {

}